.coralBody {
  background-color: coral;
  transition: all 1s ease;
}

.bodyColorChange {
  background-color: rgb(32, 12, 61);
  transition: all 1s ease;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  min-height: 10vh;
  margin-top: 30vh;
  width: 50%;
  margin-left: 23em;
}

.ButtonContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10px;
  width: 50%;
  margin-left: 23em;
  margin-bottom: 1em;
}

.buttonContainerA {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 1px;
  width: 50%;
  margin-left: 23em;
  margin-top: 3em;
  margin-bottom: -12em;
}

button {
  border-style: none;
  color: white;
  background-color: blueviolet;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 0 0 0 gold;
  outline: none;
  cursor: pointer;
}

/*-----------------------------BUTTON 1------------*/
#clickMe {
  /*margin-top: 400px;*/
  width: 90px;
  height: 40px;
  border-radius: 20px;
}

#clickMe:hover {
  color: gold;
  background-color: purple;
  animation: bounce 1s infinite;
}

#clickMe:active {
  width: 85px;
  height: 35px;
  background-color: chocolate;
  transition: all 2ms ease;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-15px);
  }

  90% {
    transform: translateY(-4px);
  }
}
/*-----------------------------BUTTON 2------------*/

#swipeClick {
  /*margin-top: 400px;*/
  width: 100px;
  height: 60px;
  border-radius: 4px;
}

#swipeClick:hover {
  font-size: 17px;
  box-shadow: inset 100px 0 0 0 goldenrod;
  color: mediumvioletred;
  border: solid 2px rebeccapurple;
}

#swipeClick:active {
  width: 95px;
  height: 55px;
  box-shadow: inset 100px 0 0 0 chocolate;
  transition: all 2ms ease;
}

/*-----------------------------BUTTON 3------------*/

#hoverMe {
  /*margin-top: 400px;*/
  width: 100px;
  height: 60px;
  cursor: default;
}

/*-----------------------------BUTTON 4------------*/

.dblMe {
  /*margin-top: 400px;*/
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blueviolet;
}

.dblMeDefault {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: cadetblue;
}

/*-----------------------------BUTTON 5------------*/

.bgButton {
  /*margin-top: 400px;*/
  width: 100px;
  height: 60px;
  border-radius: 20px;
  position: absolute;
}

.bgButton:hover {
  animation: growth 1s infinite;
}

@keyframes growth {
  0% {
    width: 100px;
    height: 60px;
  }
  30% {
    width: 130px;
    height: 80px;
  }
}

/*-----------------------------BUTTON 6------------*/

.spinBtn {
  /*margin-top: 400px;*/
  width: 100px;
  height: 30px;
}

/*-----------------------------BUTTON 7------------*/

.evaporateBtn {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  transition: all 7s ease-out;
}

/*-----------------------------BUTTON 8------------*/

.morphBtn {
  width: 80px;
  height: 80px;
  /*position: absolute;*/
  transition: all 1s ease-out;
}
/*-----------------------------BUTTON 9------------*/

.threedBtn {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}

.threedBtn:hover {
  transform: translatey(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  content: "Do it!";
}

.threedBtn:active {
  transform: translatey(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*-----------------------------BUTTON 10 & 11------------*/

.biggerCircleBtn {
  position: fixed;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.smallerBtn {
  position: fixed;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  margin-left: -90px;
}

.smallerBtn:hover {
  background-color: rgb(90, 28, 148);
  color: black;
}

/*-----------------------------BUTTON 12------------*/

#shiftClick {
  height: 50px;
  border-radius: 5px;
}

#shiftClick:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.shiftClickToggle {
  background-color: firebrick;
}

@keyframes swing {
  15% {
    transform: translateX(10px);
    transform: translatey(-3px);
  }
  30% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
